<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="apiTestingFramework.listeners.ExtentListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/juhisingh/eclipse-workspace/StripeAPI_RestAssured">
        <classes>
            <class name="apiTestingFramework.CreateCustomer">
                <methods>
                    <include name="validateCreateCustomer"/>
                    <include name="inValidateCreateCustomer"/>
                </methods>
            </class>
            <class name="apiTestingFramework.DeleteCustomer">
                <methods>
                    <include name="deleteCreatedCustomer"/>
                    <include name="deleteCustomer"/>
                </methods>
            </class>
            <class name="apiTestingFramework.UpdateCustomer">
                <methods>
                    <include name="updateCustomer"/>
                </methods>
            </class>
            <class name="apiTestingFramework.listeners.ExtentListeners">
                <methods>
                    <include name="onTestSuccess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>